<!-- Link to an external CSS file for styling -->
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/profile.css">

<!-- Container for a list of user profile friends -->
<div class="row divContainers" id="user-profile-friends">

    <!-- Full-width column within the container -->
<div class="col-12">

    <!-- Row for displaying user profile friends -->
    <div class="row">

        <!-- Loop through a list of friends using EJS templating -->
        <% for(friend of friends){ %>
            <!-- Column for an individual friend's container -->
            <div class="col-3 friend-container" id="<%=friend._id %>">
                <!-- Row for displaying friend's avatar -->
                <div class="row">
                    <div class="col-12">
                        <!-- If the friend has an avatar image, display it; otherwise, display a default image -->
                        <%if(friend.avatar){ %>
                        <img src="<%=friend.avatar%>"/>
                        <%}else{%>
                        <img src="/images/unknown.jpeg"/>
                        <%}%>
                    </div>
                </div>

                <!-- Row for displaying friend's full name -->
                <div class="row">
                    <div class="col-12">
                        <!-- Display the friend's full name -->
                        <h6><%=friend.fullName %></h6>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>
</div>