/* .custom-header { */
    /* background-color: #343a40; 
    color: #ffffff; 
    padding: 15px 0; 
}

.custom-header h1 {
    font-size: 24px; 
}

.custom-navbar {
    background-color: #343a40; 
}

.custom-navbar a {
    color: #ffffff; 
} */

.facebook-header a{
    color: white;
}

.facebook-header {
    background-color: #1877f2;
    padding: 30px;
    color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 100; 
    width: 100%;
    /* z-index: 100000; */
}
 
.facebook-logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}



@media screen and (max-width: 768px) {
    /* Your responsive CSS styles go here */
    .facebook-search{
        width: 150px;
        font-size: 15px;
    }
    
}
@media screen and (min-width: 768px){
    .facebook-search {
        border: none;
        border-radius: 25px;
        padding: 5px 10px;
        width: 250px;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    /* Your responsive CSS styles go here */
    .facebook-search{
        width: 80px;
        font-size: 10px;
    }
    input::placeholder {
        content:'weds' !important;;
    }
    
}

.facebook-icons {
    font-size: 24px;
    margin-right: 15px;
}

.sign-in-button {
   background-color: #fff;
   color: #007bff; /* Blue button text color */
   border: none;
   border-radius: 5px;
   padding: 5px 15px;
   margin-right: 10px;
   transition: background-color 0.3s, color 0.3s;
}

.sign-in-button:hover {
    background-color: #007bff; /* Blue button background color on hover */
    color: #fff; /* White button text color on hover */
}

.sign-up-button {
    background-color: #fff; /* White button background color */
    color: #007bff; /* Blue button text color */
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.sign-up-button:hover {
    background-color: #007bff; /* Blue button background color on hover */
    color: #fff; /* White button text color on hover */
}

.header-icons i{
    margin-left: 20px;
    font-size: 25px;
}

#auth-buttons button{
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
#sign-out-icon{
    color: black;
    font-size: 1.5rem;
}
#header-profile img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
#header-profile{
    color:black
}
#profileDetails div>div:hover{
    background-color: rgb(240,242,245);
}

.friend-request-btn {
    position: relative;
    display: inline-block;
    background: none;
    border: none;
}


.friend-message-btn{
    position: relative;
    display: inline-block;
    background: none;
    border: none;
}


.badge-notification {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF5733; /* Badge background color */
    color: #fff; /* Badge text color */
    /* font-size: 1rem; */
    border-radius: 50%;
    padding: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.modals{
    color: black;
}


.notification-list  {
    position: absolute;
    top: 50px;
    /* right: 50%; */
    z-index: 1000; /* Adjust the z-index as needed */
    background: #fff;
    border: 1px solid #ddd;
    max-height: 200px; /* Set a max height to limit the list size */
    overflow-y: auto; /* Add a scrollbar for long lists */
    display: none;
    transition: display 0.3s ease;
    width: 300px;
}

.notification-list.show {
    display: block;
}

.modals li{
    list-style: none;
}

.modal-profile-images img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0px;
}

.modal-text{
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-lists{
    padding: 0.5rem 0rem;
}
.modal-lists:hover{
background-color: rgb(228,230,234);
}

#messenger-body img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

#friend_messages_container a{
    color: black;
    text-decoration: none;
}